@use '../globales/variables' as v;
@use '../globales/mixins' as m;

body{
    background-color: v.$color-fondo-body ;
}
main{
    height: 100vh - v.$altura-barra-superior;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}
section{
    background-color: white;
    margin: 100px 0;
    box-shadow: -2px 1px 20px 12px rgba(0,0,0,0.50);
    overflow: hidden;
    min-height: 100%;

    

    &:last-of-type{
        margin-bottom: 0;
    }
}

a{
    text-decoration: none;
    user-select: none;
    cursor: pointer !important;
}

.boton{
    padding: 20px 40px;
    background-color: v.$naranja;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    &:active{
        background-color: darken($color: v.$naranja, $amount: 15%);
    }
}
