html{
    scroll-behavior: smooth;
}

.contenedor{
    max-width: 95%;
    min-height: 90vh;
    margin: 0 auto;
}
.contenedor::before{
    display: block;
    content: " ";
    margin-top: -50px;
    height: 110px;
    visibility: hidden;
}