*{
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4{
    text-align: center;
    margin: 0;
    & ::after{
        content: "";
        width: inherit;
        background-color: red;
        height: 20px;
    }
}

h1{
    font-size: 40px;
}
h2{
    font-size: 35px;
}

p{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}