@use 'variables' as v;

.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor{
    width: 95vw;
    min-height: max-content;
    margin: 0 auto;
    overflow: hidden;
}