// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;



//tamaños
$altura-barra-superior: 7vh;
$tamaño-flecha : 20px;

//colores
$color-fondo-body: #c084fc;
$naranja: #f59e0b ;
$violeta: #9900cc;
//tiempos
$tiempo-animacion-sobreMi: 1.3s;