@use '../globales/variables' as v;

.contactame{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-formulario{
    position: relative;
    overflow: hidden;
}

.formulario{
    min-width: 500px;
    border-radius: 20px;
    background-color: #67e8f9;
    border:3px solid black;
    padding: 0;
    margin: 0;

    height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 1s ease-out;

    &.mostrar{
        padding: 40px;
        height: max-content;
        opacity:1;
        margin-top: 50px;
        height: max-content;
        transform: translateY(0);
    }
    &.ocultar{
        transform: translateY(-150%);
    }

    .campo{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        label{
            flex: 1 0 20px;
            font-weight: 700;
            font-size: 20px;
        }
        input,textarea{
            border-style: none;
            flex:4; 
            padding: 10px;
            border-radius: 10px;
        }
        textarea{
            resize: none;
        }
    }
}


.contactame{
    .iconos{
        justify-self: center;
        width: 80%;
        display: flex;
        justify-content: space-evenly;

        .metodo{
            background-color: lighten($color: v.$naranja, $amount: 10%);
            padding: 20px;
            border-radius: 20%;
            font-size: 84px;
            cursor: pointer;
            text-decoration: none;
            color: black;
            user-select: none;
        }
    }
}
.formas{
    font-weight: 700;
}
#boton-enviar{
    display: none;
}