@use '../globales/variables' as v;
@use '../globales/mixins' as m; 
.flecha-volver{
    @include m.tablet{
        visibility: hidden;
        position: fixed;
        bottom: 2vh;
        right: 2vw;
        
        width: v.$tamaño-flecha;
        height: v.$tamaño-flecha;
        padding: 30px;
        font-size: 50px;
        border-radius: 50%;
        
        background-color:#6b21a8  ;
        color: white;  
        &.mostrar-flecha{
            visibility: visible;   
        }
        &:hover{
            background-color: darken($color: #6b21a8, $amount: 20%);
        }
    }
}