@use '../globales/variables' as v;
@use '../globales/mixins' as m;




.proyectos{
    @include m.tablet{
        @include m.grid(3);
        gap: 15px 20px;
    }
    padding: 70px ;
}
.proyecto{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 15px;
    height: fit-content;
    
    & img{
        width: 80%;
        transition: filter .7s ease-in-out;
        border-radius: 20px;
        height: 200px;
        align-self: center;
    }
    & h3{
        font-size: 20px;
    }

    @include m.tablet{
        margin-bottom: 0;
        transition: transform .7s ease-in-out;

        & img{
            filter: blur(2px);
            height: 150px;
        }
        &:hover{
            transform: scale(1.1);
            & img{
                filter: blur(0);
            }
        }
    }

    

    & p{
        font-size: 15px;
        text-align: center;
    }
}
.proyecto .contenido{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.boton-proyecto{
    text-decoration: none;
    padding: 10px 20px;
    background-color: v.$naranja ;
    font-weight: 700;
    border-radius: 10px;
    color: white;
    text-align: center;
    &:hover{
        background-color: darken($color: v.$naranja , $amount: 10%);
    }

    @include m.tablet{
        width: fit-content;

    }
}