@use '../globales/variables' as v;
@use '../globales/mixins' as m;




.proyectos{
    margin: 0;
    padding: 0;
    @include m.tablet{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
        justify-content:center;
    }
}
.proyecto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border: 1px solid grey;
    border-radius: 10px;

    padding:15px;
    height: fit-content;
    width: 90%;
    margin: 0;
    margin-bottom: 2rem;

    & img{
        width: 90%;
        transition: filter .7s ease-in-out;
        border-radius: 20px;
        height: 10rem;
    }
    & h3{
        font-size: 20px;
    }

    @include m.tablet{
        margin-bottom: 0;
        transition: transform .3s ease-in-out;
        width: 20rem;
        height: 22rem;
        min-height: fit-content;
        & img{
            filter: blur(2px);
            height: 150px;
        }
        &:hover{
            transform: scale(1.1);
            & img{
                filter: blur(0);
            }
        }
    }
    & p{
        font-size: 1.1rem;
        text-align: center;
    }
}

.proyecto .contenido{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: .4rem;
}

.boton-proyecto{
    justify-self: flex-end;
    text-decoration: none;
    padding: 10px 5px;
    background-color: v.$naranja ;
    font-weight: 700;
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 100%;
    &:hover{
        background-color: darken($color: v.$naranja , $amount: 10%);
    }

    @include m.tablet{

    }
}