@use '../globales/variables' as v;
@use '../includes/mixins' as m;



.informacion-sobreMi{
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    max-width: 80%;
}

.animar{
    .texto-sobreMi{
        transform: translateX(0%);
        opacity: 1;
    }
    .marco{
        transform: translateX(0%) rotate(-180deg);
    }
}

.texto-sobreMi{
    font-weight: 500;
    font-size: large;
    transform: translateX(-50%);
    opacity: 0;

    transition: transform v.$tiempo-animacion-sobreMi ease-in, opacity v.$tiempo-animacion-sobreMi ease-in;
}



.retrato{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;

    & img{
        position: absolute;
        max-width: 250px;
        height: auto;
        background-color: white;
    }
}

.marco{
    height: 275px;
    width: 275px;
    z-index: 0;
    background-color:#a5b4fc ;
    transform: translateX(400%);
    transition: transform v.$tiempo-animacion-sobreMi ease-in;

}

.texto-tecnologias{
    font-weight: 600;
    text-align: center;
}

.iconos-sobreMi{
    padding: 50px;
    width: 100%;
    @include m.grid(4);
    gap: 40px 5px;
    .icono{
        height: 100px;
        width: 100px;
    }
}

