@use '../globales/variables' as v;
@use '../globales/mixins' as m;

.sobreMi{
    overflow: hidden;
    justify-content: center;
    padding: 0;
}

.informacion-sobreMi{
    display: flex;
    flex-direction: column-reverse;
    max-width: 80%;

    @include m.tablet{
        flex-direction: row;
        gap: 40px;
    }

}



.texto-sobreMi{
    transform: translateX(-50%);
    transition: all v.$tiempo-animacion-sobreMi ease-in;
    opacity: 0;
    p {
        font-weight: 500;
        font-size: 25px;
    }
}

.retrato{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;

    & img{
        position: absolute;
        max-width: 250px;
        height: auto;
        background-color: white;
    }
}

.marco{
    height: 275px;
    width: 275px;
    z-index: 0;
    background-color:#a5b4fc ;
    transform: translateX(400%);
    transition: transform v.$tiempo-animacion-sobreMi ease-in;

}

.animar{
    .texto-sobreMi{
        transform: translateX(0%);
        opacity: 1;
    }
    .marco{
        transform: translateX(0%) rotate(-180deg);
    }
}
