@use '../globales/variables' as v;
@use '../globales/mixins' as m;



.texto-tecnologias{
    font-weight: 500;
    text-align: center;
    font-size: 1.5rem;
}

.iconos-tecnologias{
    width: 100%;
    @include m.grid(2);
    place-items: center;
    gap: 40px 5px;
    margin-top: 75px;
    .icono{
        height: 100px;
        width: 100px;
    }

    @include m.tablet{
        @include m.grid(4);
    }

}
